<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{layout}" th:with="isAdmin=true">
  
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/js/datatables/datatables.min.css}">
	<script type="text/javascript" th:src="@{/js/datatables/datatables.min.js}"></script>
	<title>Roles</title>
</head>
<body layout:fragment="content">
	<form id="roleForm" method="post" th:action="@{/roles}">
		<fieldset>
			<legend>Roles</legend>
			<table id="roles-table" class="table table-striped hover">
				<thead>
		            <tr>
		                <th>Role ID</th>
		                <th>Role Name</th>
		                <th>&nbsp;</th>
		            </tr>
		        </thead>
			</table>
		</fieldset>
	</form>
	<script type="text/javascript" th:inline="javascript">
		var getRolesUrl = /*[[@{/admin/ajax/get/roles}]]*/ "/admin/ajax/get/roles";
	
		var dataTable = $("#roles-table").DataTable({
			"ajax": {
				"url": getRolesUrl,
				"dataSrc": null
			},
			"ordering": false,
			"columns": [
	            { "data": "roleId" },
	            { "data": "role" },
	            { 
		            "data": null,
		            "render": function ( data, type, row, meta ) {
				    	return `
					    	<div class="dropdown">
					    	  <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuRole` + data.roleId + `" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
					    	  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    	  	<button type="button" class="dropdown-item btn" onclick="editRolePrompt(` + data.roleId + `, '` + data.role + `')">Edit</button>
					    	    <button type="button" class="dropdown-item btn" onclick="deleteRolePrompt(` + data.roleId + `, '` + data.role + `')">Delete</button>
					    	  </div>
					    	</div> `;
			    	},
			    	"orderable": false,
			    	"className": "text-right"
			    }
	        ],
	        
	        dom: "<'row'<'col-sm-12 d-flex justify-content-center'B>>" +
	        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
	        "<'row'<'col-sm-12'tr>>" +
	        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
	        buttons: [
	            {
	                text: 'Add Role',
	                action: function ( e, dt, node, config ) {
	                	$('#modalAddRole').modal('show');
	                }
	            }
	        ]
		});

		var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");
	
		function addRole() {
			var roleName = $("#addRoleName").val();

			$.ajax({
			    method: "POST",
			    url: [[@{/admin/ajax/add/role}]],
			    contentType: 'application/json',
			    data: JSON.stringify({
					roleName: roleName
			    }),
			    beforeSend: function(xhr) {
			        xhr.setRequestHeader(header, token);
				},
				error: function(data) {
					handleAjaxErrorsModal("modalAddRole", data);
				},
			    success: function(data) {
					dataTable.ajax.reload();
					clearAlertsModal("modalAddRole");
					addAlert(AlertType.CONFIRMATION, "Role \"" + roleName + "\" was added successfully.");
					$('#modalAddRole').modal('hide');
				},
				complete: function(data) {
				}
			});
		}

		function editRolePrompt(roleId, roleName) {
			$("#editRoleId").val(roleId);
			$("#editRoleName").val(roleName);
			$("#modalEditRole").modal('show');
		}

		function editRole() {
			var roleId = $("#editRoleId").val();
			var roleName = $("#editRoleName").val();
			
			$.ajax({
			    method: "POST",
			    url: [[@{/admin/ajax/edit/role}]],
			    contentType: 'application/json',
			    data: JSON.stringify({
					roleId: roleId,
					roleName: roleName
			    }),
			    beforeSend: function(xhr) {
			        xhr.setRequestHeader(header, token);
				},
				error: function(data) {
					handleAjaxErrorsModal("modalEditRole", data);
				},
			    success: function(data) {
					dataTable.ajax.reload();
					addAlert(AlertType.CONFIRMATION, "Role \"" + roleId + "\" was updated successfully.");
					$('#modalEditRole').modal('hide');
				},
				complete: function(data) {
				}
			});
		}
		
		function deleteRolePrompt(roleId, roleName) {
			$("#deleteRoleId").val(roleId);
			$("#deleteRoleIdText").text(roleId);
			$("#deleteRoleNameText").text(roleName);
			$("#modalDeleteRole").modal('show');
		}

		function deleteRole() {
			var roleId = $("#deleteRoleId").val();
			
			$.ajax({
			    method: "POST",
			    url: [[@{/admin/ajax/delete/role}]],
			    contentType: 'application/json',
			    data: JSON.stringify({
					roleId: roleId
			    }),
			    beforeSend: function(xhr) {
			        xhr.setRequestHeader(header, token);
				},
				error: function(data) {
					handleAjaxErrorsModal("modalDeleteRole", data);
				},
			    success: function(data) {
					dataTable.ajax.reload();
					addAlert(AlertType.CONFIRMATION, "Role " + roleId + " was deleted successfully.");
					$('#modalDeleteRole').modal('hide');
				},
				complete: function(data) {
				}
			});

		}

		$(document).ready(function() {
			$("#saveRoleButton").click(function(e) {
				addRole();
			});

			$('#saveRoleButton').keypress(function (e) {
				var key = e.which;
				if(key == 13)  // the enter key code
			 	{
				    $("#saveRoleButton").click();
				}
			});

			$("#editRoleButton").click(function() {
				editRole();
			});

			$('#editRoleButton').keypress(function (e) {
				var key = e.which;
				if(key == 13)  // the enter key code
			 	{
				    $("#editRoleButton").click();
				}
			});

			$("#deleteRoleButton").click(function() {
				deleteRole();
			});

			$('#deleteRoleButton').keypress(function (e) {
				var key = e.which;
				if(key == 13)  // the enter key code
			 	{
				    $("#deleteRoleButton").click();
				}
			});
		});
		
	</script>
	
	<div id="modalAddRole" th:replace="modal :: modal(id='modalAddRole', title='Add Role', light=true, body=~{::#modalAddRole//modal-body}, footer=~{::#modalAddRole//modal-footer})">
		<modal-body>
			<div class="form-group">
				<label for="roleName">Role Name</label>
				<input type="text" class="form-control" name="roleName" id="addRoleName">
			</div>
		</modal-body>
		<modal-footer>
			<button type="button" class="btn btn-primary" id="saveRoleButton">Save</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		</modal-footer>
	</div>
	<div id="modalEditRole" th:replace="modal :: modal(id='modalEditRole', title='Edit Role', light=true, body=~{::#modalEditRole//modal-body}, footer=~{::#modalEditRole//modal-footer})">
		<modal-body>
			<div class="form-group">
				<label for="roleId">Role ID</label>
				<input type="text" class="form-control" name="roleId" id="editRoleId" readonly>
			</div>
			<div class="form-group">
				<label for="roleName">Role Name</label>
				<input type="text" class="form-control" name="roleName" id="editRoleName">
			</div>
		</modal-body>
		<modal-footer>
			<button type="button" class="btn btn-primary" id="editRoleButton">Update</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		</modal-footer>
	</div>
	<div id="modalDeleteRole" th:replace="modal :: modal(id='modalDeleteRole', title='Delete Role', light=true, body=~{::#modalDeleteRole//modal-body}, footer=~{::#modalDeleteRole//modal-footer})">
		<modal-body>
			<input type="hidden" id="deleteRoleId">
			Are you sure you want to delete role <span class="font-weight-bold"><span id="deleteRoleIdText"></span> - <span id="deleteRoleNameText"></span></span>?
		</modal-body>
		<modal-footer>
			<button type="button" class="btn btn-primary" id="deleteRoleButton">Delete</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		</modal-footer>
	</div>
</body>
</html>