/* Title: main.css
 * Description: Hold main css styles for website
 * Author: Dustin Rowland
 *
 *
*/

html {
	height: 100%
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%
}

#page {
	width: 1440px;
	flex: 1 0 auto;
}

#page.light-text {
	color: rgba(255,255,255,.9);
}

@media screen and (max-width: 1440px) {
	#page {
		width: 100%;
	}
}

/* full page grid layout */
.page-header {
	grid-area: page-header;
	display: flex;
	align-items: center;
	padding-top: 1rem;
	padding-left: 1rem;
	color: #fff;
}

.page-header img.logo-nutmeg {
	height: 55px;
	margin-right: 1rem;
}

.main-menu {
	grid-area: main-menu;
}

.main-menu.light-border {
	border-bottom: 1px rgba(255,255,255,.3) solid;
}

.main-menu.dark-border {
	border-bottom: 1px rgba(0,0,0,.3) solid;
}

.content {
	grid-area: content;
	margin-top: 20px;
	margin-bottom: 60px;
}

.footer {
	grid-area: footer;
}

.footer nav {
	display: flex;
	justify-content: center;
}

.main-grid-container {
	grid-area: main-grid-container;
	display: grid;
	grid-template-columns: 30px auto 30px;
	grid-template-rows: [page-header] auto [content] auto;
	grid-template-areas: 
		"page-header page-header page-header"
		"main-menu main-menu main-menu"
		". content ."
		"footer footer footer";
}

/* main content grid layout */
.grid-container {
	display: grid;
	grid-gap: 15px;
}

.game-container {
	display: flex;
	margin-top: 30px;
	margin-bottom: 30px;
	justify-content: center;
}

.error {
	margin-top: 5px;
	color: red;
}

.slide-enter-active,
.slide-leave-active {
	transition: all .2s ease;
}

.slide-enter,
.slide-leave-to {
	transform: translateY(-100%);
	opacity: 0;
}

.fade-both-enter-active,
.fade-both-leave-active,
.fade-enter-active,
.fade-out-leave-active {
  transition: opacity .5s ease;
}

.fade-both-enter,
.fade-both-leave-to,
.fade-enter,
.fade-out-leave-to {
  opacity: 0;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.divider {
	margin-top: 20px;
}

@media screen and (max-width: 1000px) {
	#page {
		margin: 0;
	}

}

@media screen and (max-width: 700px) {
	[class*="grid-columns-"] {
		grid-template-columns: 1fr;
	}

	[class*="result-"] {
		order: 2;
	}
	
	.continer,
	.button-section {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.form-button {
		margin-bottom: 10px;
	}
	.button-label {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 400px) {

}

/* Updates to Bootstrap Modal styles */
.modal-content.dark {
	background-color: #222;
	box-shadow: 0px 0px 2em #000;
}

.modal-content.dark .close, 
.modal-content.dark .btn-dark {
	color: rgba(255,255,255,.9);
}

.modal-content.dark .close:not(:disabled):not(.disabled):focus, 
.modal-content.dark .close:not(:disabled):not(.disabled):hover {
	color: rgba(255,255,255,.5);
}

.dropdown-toggle.no-icon::after {
  display: none;
}