<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="modal">
	<div th:id="${id}" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content" th:classappend="${light} ? '' : 'dark'">
				<div class="modal-header">
					<h5 class="modal-title" th:if="${title}" th:text="${title}">Modal Title</h5>
					<h5 class="modal-title" th:if="${header}">
						<div th:replace="${header}"></div>
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" th:unless="${hideClose}">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="modal-alerts"></div>
					<div th:replace="${body}"></div>
				</div>
				<div class="modal-footer" th:insert="${footer}"></div>
			</div>
		</div>
	</div>
</body>
</html>